@import url(fonts.css);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: var(--lato);
    font-weight: 400;
}
/* ------------------- */

root{
    --full-screen-bg:linear-gradient(90deg, rgba(48, 47, 79, 0.94) 24.45%, rgba(47, 47, 79, 0.87) 42.53%, rgba(45, 45, 77, 0.24) 91.42%);
    --gringing-bg: linear-gradient(180deg, #3E3457 0%, rgba(62, 52, 87, 0) 100%);

    --font-gray:rgba(255, 255, 255, 0.6);
    --border-blue: rgba(78, 164, 220, 0.3);
    --card-bg: #3C3153;
    --play-blue:#2584DB;

    --blue:  #4EA4DC;


    --white: #ffffff;
    --black: #000000;


    --lato: 'Lato';
    --pop: 'Poppins';
    --rob: 'Roboto';
}